<li>
  {{#link-to 'story' story.id}} {{story.headline}} <strong>- By {{story.author}}</strong> {{/link-to}}
    {{#if isImageShowing}}
      <p><img src={{story.image}} alt={{story.heading}} {{action 'imageHide'}}></p>
    {{else}}
      <button {{action 'imageShow'}}>Show image</button>
    {{/if}}
</li>
